@import "~@mdi/font/css/materialdesignicons.min.css";

.colon {
    font-weight: 600 !important;
    font-size: 30px;
    margin-top: 7px;
    color: lightgrey
}

.colon:hover {
    color: black;
}

.dark_background {
    background-size: initial;
    background: rgb(0, 0, 0) url("~@/assets/img_2.png") repeat fixed;
}